<%- include("../../partials/header.ejs") %>
<%- include("../../partials/navbar.ejs") %>

<section class="uk-container">
    <div class="uk-flex uk-flex-between uk-flex-middle uk-margin-large-bottom">
        <h1 class="title">Gerenciamento de Artigos</h1>
        <a href="/admin/artigos/criar"
            class="uk-button uk-button-default uk-border-rounded button-blue">
            Criar Artigo
        </a>
    </div>

    <div class="uk-overflow-auto">
        <table class="uk-table uk-table-divider uk-table-striped uk-table-middle uk-margin-remove-top">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Título</th>
                    <th>Slug</th>
                    <th>Categoria</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <% articles.forEach((article, index) => { %>
                    <tr>
                        <td class="uk-text-center uk-text-bold"><%= index + 1 %></td>
                        <td><%= article.title %></td>
                        <td><%= article.slug %></td>
                        <td><%= article['category.title'] %></td>
                        <td class="uk-flex uk-flex-center">
                            <a href="/admin/artigos/editar/<%= article.id %>" class="uk-button uk-button-default uk-border-rounded uk-margin-right uk-button-small button-green">
                                Editar
                            </a>

                            <form action="/admin/artigos/excluir" method="POST"
                                onsubmit="handleArticleDeleteFormSubmit(event, this)">
                                <input type="hidden" name="articleId"
                                    value="<%= article.id %>">
                                <button type="submit"
                                    class="uk-button uk-button-default uk-border-rounded uk-button-small button-tomato">
                                    Excluir
                                </button>
                            </form>
                        </td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    </div>
</section>

<script>
    const handleArticleDeleteFormSubmit = (event, form) => {
        event.preventDefault();

        const confirm = window.confirm("Tem certeza que deseja excluir o artigo?");

        if (confirm) form.submit();
    }
</script>

<%- include("../../partials/footer.ejs") %>