<nav class="uk-navbar-container navbar">
    <div class="uk-container">
        <% if (page === "login") { %>
            <div uk-navbar>
                <div class="uk-navbar-center">
                    <a href="/" class="uk-navbar-item uk-logo logo">
                        Meu Blog
                    </a>
                </div>
            </div>
        <% } else { %>
            <div uk-navbar>
                <div class="uk-navbar-left">
                    <a href="/" class="uk-navbar-item uk-logo logo">
                        Meu Blog
                    </a>
                </div>
                <div class="uk-navbar-right">
                    <% if (!userLogged) { %>
                        <li class="dropdown-trigger">
                            <a href="#" class="uk-text-uppercase">
                                Categorias
                            </a>

                            <div uk-dropdown="pos: top-right">
                                <ul class="uk-nav uk-dropdown-nav">
                                    <% categories.forEach((category) => { %>
                                        <li class="<%= page === category.slug ? 'uk-active' : '' %>">
                                            <a href="/categorias/<%= category.slug %>">
                                                <%= category.title %>
                                            </a>
                                        </li>
                                    <% }) %>
                                </ul>
                            </div>
                        </li>
                        <ul class="uk-navbar-nav">
                            <li class="<%= page === 'login' ? 'uk-active' : '' %>">
                                <a href="/login/" class="uk-button uk-button-text">
                                    Login
                                </a>
                            </li>
                        </ul>
                    <% } else { %>
                        <ul class="uk-navbar-nav">
                            <li class="<%= page === 'users' ? 'uk-active' : '' %>">
                                <a href="/admin/usuarios/" class="uk-button uk-button-text">
                                    Usuários
                                </a>
                            </li>
                            <li class="<%= page === 'categories' ? 'uk-active' : '' %>">
                                <a href="/admin/categorias/" class="uk-button uk-button-text">
                                    Categorias
                                </a>
                            </li>
                            <li class="<%= page === 'articles' ? 'uk-active' : '' %>">
                                <a href="/admin/artigos/" class="uk-button uk-button-text">
                                    Artigos
                                </a>
                            </li>
                            <li>
                                <a href="/admin/logout/" class="uk-button uk-button-text">
                                    Sair
                                </a>
                            </li>
                        </ul>
                    <% } %>
                </div>
            </div>
        <% } %>
    </div>
</nav>