<%- include("partials/header.ejs") %>
<%- include("partials/navbar.ejs") %>

<section class="uk-container uk-width-2-3@m uk-margin-auto">
    <article class="uk-article">
        <h1 class="uk-article-title uk-margin-small-bottom">
            <%= article.title %>
        </h1>
    
        <p class="uk-article-meta uk-margin-medium-bottom">
            Criado em <span><%= (new Date(article.createdAt).toLocaleString("pt-BR").replace(",", " às ")) %></span>
        </p>
    
        <div>
            <%- article.content %>
        </div>
    </article>
</section>

<%- include("partials/footer.ejs") %>