<%- include("partials/header.ejs") %>
<%- include("partials/navbar.ejs") %>

<section class="uk-container uk-width-2-3@m uk-margin-auto">
    <h2 class="uk-margin-medium-bottom">
        Artigos sobre <span class="uk-text-bold"><%= category.title %></span>
        <hr class="uk-divider-small uk-margin-small-top">
    </h2>
    
    <% articles.forEach((article) => { %>
        <div class="uk-card uk-card-default uk-card-small card uk-border-rounded uk-margin-medium-bottom">
            <div class="uk-card-header uk-flex uk-flex-between uk-flex-middle">
                <h5 class="uk-card-title"><%= article.title %></h5>
                <a href="/<%= article.slug %>"
                    class="uk-button uk-button-default uk-button-small uk-border-rounded button-tomato">
                    Ler artigo
                </a>
            </div>
            <div class="uk-card-body">
                <p>
                    Criado em <span><%= (new Date(article.createdAt).toLocaleString("pt-BR").replace(",", " às ")) %></span>
                </p>
            </div>
        </div>
    <% }) %>
</section>

<%- include("partials/footer.ejs") %>