<%- include("partials/header.ejs") %>
<%- include("partials/navbar.ejs") %>

<section class="uk-container uk-width-2-3@m uk-margin-auto">
    <div class="uk-margin-large-bottom">
        <h2 class="uk-margin-medium-bottom">
            Todos os Artigos
            <hr class="uk-divider-small uk-margin-small-top">
        </h2>
        
        <% result.articles.rows.forEach((article) => { %>
            <div class="uk-card uk-card-default uk-card-small card uk-border-rounded uk-margin-medium-bottom">
                <div class="uk-card-header uk-flex uk-flex-between uk-flex-middle">
                    <h5 class="uk-card-title"><%= article.title %></h5>
                    <a href="/<%= article.slug %>"
                        class="uk-button uk-button-default uk-button-small uk-border-rounded button-tomato">
                        Ler artigo
                    </a>
                </div>
                <div class="uk-card-body">
                    <p>
                        Criado em <span><%= (new Date(article.createdAt).toLocaleString("pt-BR").replace(",", " às ")) %></span>
                    </p>
                </div>
            </div>
        <% }) %>
    </div>

    <ul class="uk-pagination uk-flex-right" uk-margin>
        <li <% if (result.page < 2) { %> class="uk-disabled" <% } %>>
            <a href="/artigos/<%= result.page - 1 %>">
                <span uk-pagination-previous></span>
            </a>
        </li>

        <% for (let i = 1; i <= result.totalPages; i++) { %>
            <% if (result.page === i) { %>
                <li class="uk-active">
                    <span><%= i %></span>
                </li> 
            <% } else { %>
                <li>
                    <a href="/artigos/<%= i %>"><%= i %></a>
                </li>
            <% } %>
        <% } %>
        
        <li <% if (!result.next) { %> class="uk-disabled" <% } %>>
            <a href="/artigos/<%= result.page + 1 %>">
                <span uk-pagination-next></span>
            </a>
        </li>
    </ul>
</section>

<%- include("partials/footer.ejs") %>